.container {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input {
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 1rem 1.125rem;
    color: var(--dark-blue);
}

.input::placeholder {
    color: var(--dark-blue);
}

.input:active,
.input:focus {
    outline: none;
    border-color: var(--grayish-blue);
}

.error-icon {
    position: absolute;
    right: 1.5rem;
    bottom: 2.75rem;
    transform: scale(0.8);
}

.error-message {
    color: var(--primary-red);
    font-size: 0.75rem;
    font-weight: 500;
    align-self: flex-end;
    margin-top: 0.5rem;
}

@media (min-width: 70em) { /* 1120px */
    .input {
        padding: 1.125rem 2rem;
    }
    .error-icon {
        transform: scale(1);
    }

}