:root {
  --primary-red: #ff7a7a;
  --primary-green: #38cc8c;
  --blue: #6055a5;
  --grayish-blue: #b9b6d3;
  --dark-blue: #3e3c49;
}

body {
  background-color: var(--primary-red);
  background-image: url("./images/bg-intro-mobile.png");
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

@media (min-width: 70em) { /* 1120px */
  body {
    background-image: url("./images/bg-intro-desktop.png");  
    background-repeat: no-repeat;
    background-size: cover;
  }
}